*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(122deg,#15153b, #0a0a52);

}

.navBar{
    background-image: linear-gradient(60deg ,  rgb(31, 27, 50) , rgb(44, 23, 54));
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 65px;
    transition: all, ease-in-out 1.0s;
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    height: 60px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 80%;
}
.logo h2{
    color: wheat;
}
.fav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.fav i{
    font-size: 30px;
    margin: 0px 10px;
    color: wheat;
}

/* Search Bar */

.searchBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 20%;
}
.searchBar input{
    width: 100%;
    border-radius: 20px;
    height: 30px;
    text-align: center;
}

.searchBar > div:nth-child(1){
    left: 10px;
    position: absolute;
    color: black;
    
}
.searchBar > div:nth-child(3){
    right: 10px;
    position: absolute;
    color: black;
    
}

/* Profile */

.profile img{
    height: 60px;
    border-radius: 80%;
}


/* Section Part */

.mainSection{
    margin-top: 30px;
    display: flex;
    flex-direction: row;

}

.section1{
    width: 60%;
    position: relative;
    left: 8%;
}

.border{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(122deg, #3e3ecd , #7f7fcc);
    height: auto;
    
}

.border div img{
    height: 100%;
    width: 450px;
    margin: 0px 25px -4px 0px;
}

.section2{
    width: 40%;
}

.playButton{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

.playButton button{
    width: 100px;
    height: 40px;
    padding: 10px;
    background-image: linear-gradient(60deg, #60131f,#a07676);
}

.numbers{
    margin-top: 5px;
    margin-left: 10px;
    color: white;
}





/* Footer */

/* Footer part */
footer{
    position: absolute;
	bottom: 1px;
	width: 100%;
	height: 60px;
	background-color: black;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	flex-wrap: nowrap;
	padding: 0px 3%;
	box-sizing: border-box;
	z-index: 6;
}

.activeSong{
    height: 90%;
	width: 25%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.songImg{
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
}
.songImg img{
    width: 100%;
    height: 100%;
}
.heartAndBanIcon{
    height: 100%;
    padding: 4%;
    color: wheat;
}
.songDes{
    margin: 0% 1%;
}
/* song name */
.songDes div:nth-child(1) {
	font-size: 14px;
    color: wheat;
}
/* song author */
.songDes div:nth-child(2) {
	font-size: 12px;
    color: wheat;
}

/* Second Part of Footer */
.mediaPlayer{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.controls{
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: wheat;
}
.icon:hover{
    box-shadow: 0 0 20px #74ADC8;
    cursor: pointer;
}
.iconInside:hover{
    box-shadow: 0 0 20px black;
    cursor: pointer;
}
.slider{
    width: 100%;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 5px;
}
.sliderContainer{
    width: 100%;
}
#slider{
    /* -webkit-appearance: none; */
	width: 100%;
	height: 5px;
	background: wheat;
	outline: none;
	opacity: 0.5;
	/*-webkit-transition: 0.2s; */
	transition: opacity 0.2s;
}
#slider:hover{
    opacity: 1;
}
.time{
    margin: 0px 10px;
    color: wheat;
}

/* The Extra part of the Footer */

.extraItem{
    width: 20%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
    color: wheat;
}


